h1 {
  font-size: 90px;
  font-weight: 30px;
  color: #f09e75;
  font-family: "Lovers Quarrel", cursive;
}

body,
.sky {
  background-color: #75c9f0;
}

.sky {
  padding-top: 80px;
}

.aboutMe {
  background-color: #75c9f0;
  padding-top: 30px;
}
